PyYaml~=6.0.2
colorlog~=6.9.0
psutil~=6.1.0
pybase64~=1.4.0
boto3~=1.35.54
cryptography~=44.0.0
azure-identity
azure-keyvault-secrets
pytest-mock
pytest-watch
pytest~=8.3.3
watchdog~=6.0.0
azure-core~=1.32.0
pywin32;platform_system == "Windows"